:root{
    --primary : #2d88ff;
    --dark : #18191a;
    --sime-dark : #242526;
    --sof-dark : #3a3b3c;
    --danger : #f02849;
    --success : #44b960;
    --warning : #dda728;
    --text : #b7b9bd;
    --noti: #ffffff;
}


@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'The Nautigal', cursive;
    color: var(--text);
}



body{
    background-color: var(--dark);
}

.nav{
    background-color: var(--sime-dark);
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}
.left{
    width: 100%;
}
.left-box{
    display: flex;
    padding: 2px;
    align-items: center;
}
.logo{
    width: 100px;
    position: relative;
    left: -16px;
}
.search-box{
    background-color: var(--sof-dark);
    border-radius: 100px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin: 0 -20px;
}
.search-box .fas{
    margin-right: 10px;
}
.search-input{
    color: var(--text);
    background-color: var(--sof-dark);
    border: none;
    width: 120px;
}
.search-input:focus{
    outline: none;
}

/* center */
.center{
    /* width: 50%; */
}
.center-box{
    display: flex;
    justify-content: space-around;
}
.center-link{
    width: 130px;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border-bottom-color: 10px solid var(--sime-dark);
    position: relative;
    transition: 0.5s;
}
.center-link:hover{
    background-color: var(--sof-dark);
    border-radius: 10px;
}
.center-link .active{
    border-bottom-color: var(--primary);
    color: var(--primary);
}
.center-link.active .center-icon{
    color: var(--primary);
}
.center-icon{
    font-size: 37px;
}
.center-link .noti{
    background: red;
    color: var(--noti);
    padding: 3px;
    border-radius: 18px;
    font-size: 14px;
    position: absolute;
    top: -14px;
    right: 5px;
    position: relative;
    width: 34px;
    font-weight: bolder;
    text-align: center;
}
.right{
   
    display: flex;
    justify-content: flex-end;
}
.right-box{
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
    margin-right: 15px;
    border-radius: 15px;
    padding: 8px 10px;
    transition: 0.5s;
}
.profile:hover{
    background-color: var(--sof-dark);
    
}
.profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}
.profile-text{
    color: var(--text);
    font-weight: bolder;
    font-size: 26px;
}
.noti-box{
    display: flex;
}
.right-notification{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sof-dark);
    margin: 10px 5px;
    border-radius: 50%;
}

.fb-body{
    /* display: flex; */
    
}
.background-body{
    background-color: var(--dark);
    position: absolute;
    z-index: -1;
    top: 70px;
    /* height: 4000vh; */
}

.left-side{
    width: 55%;
}
.new-feed{
    width: 100%;
}
.my-day-list{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.myday-item{
   width: 18%;
}
.myday{
    width: 167px;
    height: 260px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.myday-owner{
    width: 50px;
    height: 50px;
    background:var(--sof-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myday-ownerimg{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
}
.myday-text{
    margin: 0;
    bottom: 10px;
    color: var(--noti);
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.myday-img{
    width: 100%;
}
.scroll-myday{
    width: 50px;
    height: 50px;
    background-color:var(--sof-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 467px;
    top: 195px;
    z-index: 2;
}
.add-post{

}
.post-list{

}
.chat-box{
    width: 100%;
    margin: 18px 0 0 50px;
}

.left-side{
    
}
.left-profile{
    display: flex;
    align-items: center;
    width: 280px;
    border-radius: 15px;
    padding: 15px 20px;
    transition: 0.5s;
}
.left-profile:hover{
    background-color: var(--sof-dark);
    cursor: pointer;
}
.left-profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}
.left-profile-text{
    color: var(--text);
    font-weight: bolder;
    font-size: 26px;
}

.icons{
    font-size: 30px;
    height: 30px;
}
.app{
    font-size: 24px;
}

.lookDisplay{
    margin-top: 40px;
    background-color: var(--sof-dark);
    border-radius: 20px;
}
.top{
    display: flex;
    align-items: center;
    padding: 10px 0 13px 10px;
}
.top span{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: gray;
    color: var(--text);
    width: 90%;
}
.bottom{
    
}
.bottom-all{
    width: 100%;
}
.bottom-icon{
    width: 180px;
    margin-left: 110px;
}
.live-icon{
    margin-left: 100px;
    width: 210px;
}
.icon{
    font-size: 30px;
    margin-right: 10px;
}
.lookDisplay{
    overflow: hidden;
}
.newFeedCard{
    width: 300px;
    padding: 15px 0 0 24px;
}
.newFeedCard img{
    margin-right: 9px;
}
.newFeedText{
    padding: 11px 0 2px 24px;
}
.chat-box{

}
.spon img{
    width: 185px;
    height: 150px;
}
.spon{
    height: 153px;
    align-items: center;
}
.cols{
    height: 100vh;
    overflow: scroll;
    scroll-behavior: auto;
}
